body {
    background-color: yellow;
    background-image: url("../../Imagens/Ac2.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    background-color: rgb(0, 255, 42);
}