.container {
    display: flex;
    background: orange;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: center;
    /*align-items: start;
    align-items: stretch;*/
    width: 30rem;
    flex-wrap: wrap;
}

.box {
    background: olive;
    color: white;
    margin: 0;
    /*min-width: 5rem;*/
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.box:nth-child(2n) {
    min-height: 3rem;
    background: rebeccapurple;
    flex-grow: 2;
}


/*
.box:nth-child(1){
    margin: 5rem;
    display: none;
}

.box:nth-child(3n):hover{
    background: red;
}
*/