@function pow($base, $exponent) {
    $result: 1;
    @for $_ from 1 through $exponent {
        $result: $result * $base;
    }
    @return $result;
}

h1 {
    margin-left: pow(1, 7) * 1px;
}

h2 {
    margin-left: pow(5, 2) * 10px;
}

p {
    margin-left: pow(10, 3) * 1px;
}