p {
    font: {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        size: 22px;
        weight: bold;
    }
    text: {
        align: center;
        transform: lowercase;
        overflow: hidden;
    }
}