:root {
    --borda: 100px;
    --raio: 500px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div {
    background-color: red;
    border-radius: 50%;
    width: var(--raio);
    height: var(--raio);
    border: var(--borda) double hotpink;
    transition: transform 10s, border-top-color 10s;
    transition-timing-function: cubic-bezier(.5, 1.5, .5, 1.5);
    transition-delay: 0.5s;
    border-top: var(--borda) double royalblue;
}

div:hover {
    transform: rotate(360deg);
    border-top-color: teal;
}