p {
    color: red;
    /* Comentario de uma linha */
    text-align: center;
}

#pId {
    /* Apenas altera o paragrafo com o id */
    color: green;
    text-align: right;
}


/* Isto é
um comentários
de Multiplas
Linhas */