body,
html {
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Animation1 {
    height: 250px;
    width: 250px;
    margin: 0 auto;
    background-color: red;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        background-color: red;
        border-radius: 100%;
    }
    50% {
        background-color: orange;
    }
    100% {
        transform: scale(1.5);
        background-color: yellow;
    }
}

#Animation2 {
    animation: .5s linear 1s infinite alternate slidein;
}