body {
    background-color: blueviolet;
    ;
}

h1 {
    background-color: red;
}

h2 {
    color: aqua;
}

h3 {
    border: 2px solid salmon;
}

p {
    background-color: blue;
    color: red;
    border: 5px solid green;
}