$--vermelho: black;
$--cinzento: grey;
$--verde: white;
body {
    background-color: $--vermelho;
}

section {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: $--cinzento;
    margin: 0 400px;
    border-radius: 10px;
}

article {
    width: 10px;
    text-align: center;
    border-radius: 50%;
    background-color: $--verde;
    margin: 10px;
    padding: 10px;
}

article:nth-child(1) {
    grid-column-start: 2;
    grid-row-start: 4;
}