body {
  background-color: black;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  background-color: grey;
  margin: 0 400px;
  border-radius: 10px;
}

article {
  width: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  margin: 10px;
  padding: 10px;
}

article:nth-child(1) {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 4;
      grid-row-start: 4;
}
/*# sourceMappingURL=Sass.css.map */