:root {
    --borda: 100px;
    --raio: 500px;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    font-size: 30px;
    padding: 10px;
    border: 1px solid hotpink;
    border-radius: 10px;
    transition: 1s;
}

input[type=text]:hover {
    border-bottom: 2px solid black;
}

input[type=radio] {
    border: 1px solid black;
    width: 10px;
}

div+label {
    width: 100px;
    height: 20px;
    background-color: blue;
}

div+label::before {
    content: "?";
    height: 20px;
    width: 20px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: red;
}