.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > * {
  background-color: white;
  min-width: 50%;
  min-height: 50%;
  position: relative;
}


.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
